server:
  port: 8083

spring:
  application:
    name: notification-service

  security:
    user:
      name: disabled
      password: disabled

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  config:
    import: "configserver:"

  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true

