server:
  port: 8888

spring:
  application:
    name: config-server

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Socheat-Hun/lovedev_api_config_server
          username: ${GIT_USERNAME:Socheat-Hun}
          password: ${GIT_PASSWORD:github_pat_11AOGDQ7Q0KAAhiHXvobta}
          default-label: main
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
    com.lovedev: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
