spring:
  config:
    import: optional:file:.env[.properties],optional:file:.env.local[.properties]

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo,file:./config-repo
  profiles:
    active: native

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.lovedev: DEBUG
    org.springframework.cloud: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
  file:
    name: logs/config-server.log
