spring:
  config:
    import: optional:file:.env[.properties]

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo,file:./config-repo
  profiles:
    active: native

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    root: INFO
    com.lovedev: INFO
    org.springframework.cloud: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
  file:
    name: logs/config-server.log
