server:
  port: 8082

spring:
  application:
    name: email-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  config:
    import: "configserver:"

  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true